* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:  hsl(0, 0%, 98%);
    max-width: 1440px;
}

/* Mobile view */

h1 {
    text-align: center;
}

h1:first-of-type {
    font-weight: 200;
    font-size: 28px;
    padding-top: 60px;
}

h1:nth-last-of-type(1) {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 28px;
    color:  Blue: hsl(234, 12%, 34%);
}

h1, .firstparagraph {
    text-align: center;
    font-weight: 200;
}

p:nth-of-type(1) {
    padding-bottom: 50px;
}

p {
    padding-bottom: 40px;
}

.card {
    margin: 20px 10px 40px 10px;
    width: 350px;
    background-color: #ffffff;
    box-shadow: 0px 5px 5px hsl(229, 6%, 66%);
}

.card-title {
    font-weight: 600;
    
}

.card-body {
    text-align: left;
}

.card-text{
    font-weight: 200;
    font-size: 15px;
}

img {
    float: right;
}

/* Desktop view */
@media only screen and (min-width: 378px){
    .firstparagraph{
        max-width: 550px;
        margin: auto;
    }

    .content{
        margin: auto;
        max-width: 365px;
    }
    
}
@media only screen and (min-width: 1101px) {
  
    body {
        height: 100vh;
        background-color: hsl(0, 0%, 98%);
        font-family: 'Poppins', sans-serif;
        margin: 0;
        box-sizing: border-box;
       
    }
      /* CSS Grid */
    .main {
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 600px 60px;
        grid-template-areas: 
        "top top"
        "content content"
        "footer footer"
        ;
        
    }
    
    .top-row{
        grid-area: top;
        margin: auto;
        max-width: 700px;
    }
    
    .content{
        grid-area: content;
        margin: auto;
        max-width: 600px;
        
    }
    
    footer{
        grid-area: footer;
        margin: auto;
        max-width: 600x;
        padding-top: 60px;
    }
    
   
    /* End of CSS Grid */
    
    .card {
        width: 350px;
        height: 250px;
    }
    .card-text {
        height: 85px;
    }
    h1:last-of-type {
        padding-bottom: 5px;
    }
    p:nth-of-type(1) {
        padding-bottom: 100px;
    }
    .firstparagraph {
        max-width: 550px;
        height: 20px;
       
    }

    /* Cards */
    .supervisor {
        position: relative;
        top: 120px;
       right: 370px;
    }
    .team-builder {
        position: relative;
       
        bottom: 270px;
    }
    .karma {
        position: relative;
        bottom: 260px;
        
    }
    .calculator {
        position: relative;
        bottom: 755px;
        left: 370px;
        
    }
    
    
}



.
/* Footer Information */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}