* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F2F2F2;
    max-width: 1440px;
}

/* Mobile view */

h1 {
    text-align: center;
}

h1:first-of-type {
    font-weight: 200;
    font-size: 28px;
    padding-top: 40px;
}

h1:nth-last-of-type(1) {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 28px;
}

h1, .firstparagraph {
    text-align: center;
    font-weight: 200;
}

p:nth-of-type(1) {
    padding-bottom: 55px;
}

p {
    padding-bottom: 40px;
}

.card {
    margin: 20px 10px 20px 10px;
    width: 350px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-title {
    font-weight: 600;
}

.card-body {
    text-align: left;
}

img {
    float: right;
}

/* Desktop view */

@media only screen and (min-width: 1440px) {
    .content {
        padding-right: 320px;
        padding-top: 100px;
        max-height: 922px;
    }
    body {
        height: 100vh;
    }
    .main {
        max-height: 922px;
    }
    .card {
        width: 350px;
        height: 250px;
    }
    .card-text {
        height: 85px;
    }
    h1:last-of-type {
        padding-bottom: 5px;
    }
    .firstparagraph {
        width: 550px;
        height: 20px;
        margin-left: 450px;
    }
    .supervisor {
        position: relative;
        top: 120px;
        left: 160px;
    }
    .team-builder {
        position: relative;
        left: 540px;
        bottom: 270px;
    }
    .karma {
        position: relative;
        bottom: 260px;
        left: 540px;
    }
    .calculator {
        position: relative;
        bottom: 700px;
        left: 915px;
    }
    footer {
        height: 20px;
        position: absolute;
        bottom: 10px;
        margin-left: 580px;
    }
}

/* Footer Information */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}